.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: auto;
  position: relative;
  background: conic-gradient(rgb(251, 191, 36) var(--progress), #252525 0deg)
}
.progressBar::after {
  content: attr(data-progress);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: rgb(31, 41, 55);
  font-size: 1rem;
  text-align: center;
}
